{{ 'section-collection-grid.css' | asset_url | stylesheet_tag }}

<section class="collection-grid-ctn">
  <div class="parallax parallax-cow-3" style="background-image: url({{ 'moo-parallax-one.svg' | asset_url }})" data-depth='1'></div>
  <div class="parallax parallax-cow-4" style="background-image: url({{ 'moo-parallax-two.svg' | asset_url }})" data-depth='1'></div>
  <h2 class="collection-grid__title">{{ section.settings.header  }}</h2>
  <div class="collection-grid__grid-ctn">
    {% for block in section.blocks %}
      <a href="{{ block.settings.collection.url }}" class="collection-grid__grid-item">
        <div class="collection-grid__img-ctn">
          <img src="{{ block.settings.collection.image | img_url: '500x' }}" />
        </div>
        <h3 class="collection-grid__grid-title">{{ block.settings.collection.title }}</h3>
      </a>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Collection grid",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "limit": 4,
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection grid"
    }
  ]
}
{% endschema %}