{{ 'section-hero-collection.css' | asset_url | stylesheet_tag }}

<section class="hero-collections">
  <div class="parallax parallax-cow-1" style="background-image: url({{ 'moo-parallax-one.svg' | asset_url }})" data-depth='.5'></div>
  <div class="parallax parallax-cow-2" style="background-image: url({{ 'moo-parallax-two.svg' | asset_url }})" data-depth='.5'></div>
  <div class="hero-collections__card-ctn">
    {% for block in section.blocks %}
      <a href="{{ block.settings.collection.url }}" class="hero-collections__card">
        <div class="hero-collections__card--bg" style="background-image: url({{ block.settings.image_bg | img_url: 'Medium' }})"></div>
        <div class="hero-collections__card--hover" style="background-image: url({{ block.settings.image_hover | img_url: 'Medium' }})"></div>
        <h3>{{ block.settings.collection.title | downcase }}</h3>
      </a>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Hero collections",
  "blocks": [
    {
      "type": "collection",
      "limit": 3,
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "collection"
        },
        {
          "type": "image_picker",
          "id": "image_bg",
          "label": "Image background"
        },
        {
          "type": "image_picker",
          "id": "image_hover",
          "label": "Image hover"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Collections"
    }
  ]
}
{% endschema %}